---
---

@import "{{ site.theme }}";

a:link, a:visited, a:active {
  color: #690;
}

p > a:hover, p > a:focus {
  color: #EAE0CC;
  font-weight: normal;
}

h1 > a:hover, h1 > a:focus {
  color: #EAE0CC;
}
